{%extends 'base.html'%}
{%load crispy_forms_tags%}


{%block title%}
    Detail pagee
{%endblock title%}

{%block content%}

    <div class="row">
        <div class="col-2">
            <img class="cover_picture" src={{book.cover_pic.url}} alt="Cover image">
        </div>
        <div class="col-6 mt-2">
            <h3>{{book.title}}</h3>
            <p>{{book.description}}</p>
            <p>Isbn: {{book.isbn}}</p>
        </div>
    </div>

    
<!-- Book review -->
    <div class="row">
        <div class="col-6">
            <form action="{%url 'books:reviews' book.id%}" method="POST">{%csrf_token%}
                {{review_form | crispy}}

                <button class="btn btn-success mb-4">Add review</button>
            </form>
        </div>
    </div>

    {%if book.bookreview_set.exists%}
        <h3 class="mt-4">Reviews</h3>
        <div class="line"></div>
        {%for x in book.bookreview_set.all%}
            <div class="row mb-4">
                <div class="col-1">
                    <img class="review-profile__picture" src="{{x.user.profile_picture.url}}" alt="Cover picture">
                </div>
                <div class="col-7 review-profile__comment">
                    <h3><b>{{x.user.username}}</b> rated it {{x.stars_given}} stars <span class="fw-lighter fs-6">{{x.created_at}}</span></h3>
                    <p>{{x.comment}}</p>
                </div>
            </div>
            <hr>
        {%endfor%}
    {%endif%}
    
{%endblock content%}