*{
    
}
/* Base.html */


.profile_image{
    border-radius: 50%;
    height: 100px;
}

.cover_picture{
    height: 200px;
}


.imgs{
    background-color: white;
    height: 320px;
    width: 270px;
    padding: 10px;
    text-align: center;
    
}

.img{
    width: 200px;
    display: inline-block;
}

.rasm{
    object-fit: contain;
    width: 200px;
    height: 250px;
}

.description{
    margin-left: 4rem;
}

.description a{
    font-size: 1.6rem;
    text-decoration: none;
}

/* Pagination style */
